@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar in the carousel */
.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
    scrollbar-width: none;
    /* Firefox */
}